---
import Section from "@components/ui/Section.astro";
import Title from "@components/ui/Title.astro";
import PersonIcon from "@assets/icons/person.svg";
import { RootSections } from "@config/pages";
import BentoAbout from "./BentoAbout.astro";
import SliderAbout from "./SliderAbout.astro";
---

<Section class="flex-col" id={RootSections.ABOUT_ME}>
  <Title>
    <PersonIcon class="size-10 stroke-primary-foreground" />
    Sobre mí
  </Title>
  <BentoAbout />
  <SliderAbout />
</Section>
