---
import Section from "@components/ui/Section.astro";
import Title from "@components/ui/Title.astro";
import PersonIcon from "@assets/icons/person.svg";
import { RootSections } from "@config/pages";
import BentoAbout from "./BentoAbout.astro";
import SliderAbout from "./SliderAbout.astro";
import { DEFAULT_LOCALE, getI18n, type Locale } from "@i18n/index";

const { currentLocale = DEFAULT_LOCALE } = Astro;
const i18n = getI18n({ currentLocale: currentLocale as Locale });
---

<Section class="flex-col" id={RootSections[currentLocale as Locale].ABOUT_ME}>
  <Title>
    <PersonIcon class="size-10 stroke-primary-foreground" />
    {i18n.ABOUT.TITLE}
  </Title>
  <BentoAbout />
  <SliderAbout />
</Section>
