---
import SocialButtons from "@components/SocialButtons.astro";
---

<footer class="flex items-center justify-between w-full max-w-6xl mb-7">
  <span class="text-muted">
    Desarrollado con <span class="text-primary-foreground">Astro</span>, <span class="text-primary-foreground">Tailwind</span> y <span class="text-primary-foreground">React</span> por <span class="text-accent">@gustadev24</span>
  </span>
  <SocialButtons />
</footer>
