---
import SocialButtons from "@components/SocialButtons.astro";
---

<footer class="flex flex-col-reverse md:flex-row items-center justify-between w-full max-w-6xl mb-7 px-6 gap-y-5">
  <span class="text-muted">
    Desarrollado con <span class="text-primary-foreground">Astro</span>, <span class="text-primary-foreground">Tailwind</span> y <span class="text-primary-foreground">React</span> por <span class="text-accent">@gustadev24</span>
    .
  </span>
  <SocialButtons />
</footer>
