---
import SocialButtons from "@components/SocialButtons.astro";
import Section from "@components/ui/Section.astro";
import { Image } from "astro:assets";
import heroImage from "@assets/images/gustadev.webp";
import { getI18n, Locale } from "@i18n/index";

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale: currentLocale as Locale});
---

<Section class="flex-col justify-between gap-14 items-center md:hidden">
  <div class="flex flex-col gap-5 items-center">
    <h1 class="text-primary-foreground text-6xl font-primary font-medium text-center">
      Gustavo Sequeiros
    </h1>
    <h3 class="text-muted text-4xl font-primary text-center">{i18n.HERO.SUBTITLE}</h3>
  </div>
  <div class="flex flex-col gap-5">
    <SocialButtons />
    <Image
      src={heroImage}
      alt="Gustavo Sequeiros"
      class="rounded-full aspect-square max-w-72 shadow-container"
    />
  </div>
  <article
    class="bg-secondary/35 text-secondary-foreground p-3 text-xl text-pretty shadow-container rounded-2xl max-w-md" set:html={i18n.HERO.DESCRIPTION}>
</Section>
