---
import Section from "@components/ui/Section.astro";
import Title from "@components/ui/Title.astro";
import CodeIcon from "@assets/icons/code.svg";
import TailwindLogo from "@assets/icons/tailwindcss.svg";
import NextJSLogo from "@assets/icons/nextjs.svg";
import ACMProjectImage from "@assets/images/acm-project.png";
import type { ProjectCardType, TagType } from "@types";
import ProjectCard from "./ProjectCard.astro";
import { RootSections } from "@config/pages";
import { getI18n, Locale } from "@i18n/index";

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale: currentLocale as Locale });

const tags: Record<string, TagType> = {
  tailwind: {
    content: "Tailwind CSS",
    class: "bg-[#003159]",
    icon: TailwindLogo,
    iconClass: "w-4",
  },
  nextjs: {
    content: "Next JS",
    class: "bg-black",
    icon: NextJSLogo,
    iconClass: "w-4",
  },
  frontend: {
    content: i18n.PROJECTS.CARD.TAGS.FRONTEND,
  },
  trabajoEnEquipo: {
    content: i18n.PROJECTS.CARD.TAGS.TEAM_WORK,
  },
} as const;

const projects: ProjectCardType[] = [
  {
    title: i18n.PROJECTS["ACM-1"].TITLE,
    description: i18n.PROJECTS["ACM-1"].DESCRIPTION,
    img: ACMProjectImage,
    tags: [tags.tailwind, tags.nextjs, tags.frontend],
    github: "https://github.com/ynoacamino/student-chapter-acm-page",
    preview: "https://acm.ynoacamino.site"
  },
  {
    title: i18n.PROJECTS["ACM-2"].TITLE,
    description: i18n.PROJECTS["ACM-2"].DESCRIPTION,
    img: ACMProjectImage,
    tags: [tags.tailwind, tags.nextjs, tags.frontend],
    github: "https://github.com/ynoacamino/student-chapter-acm-page",
    preview: "https://acm.ynoacamino.site"
  },
  {
    title: i18n.PROJECTS["ACM-3"].TITLE,
    description: i18n.PROJECTS["ACM-3"].DESCRIPTION,
    img: ACMProjectImage,
    tags: [tags.tailwind, tags.nextjs, tags.frontend],
    github: "https://github.com/ynoacamino/student-chapter-acm-page",
    preview: "https://acm.ynoacamino.site"
  }
];
---

<Section id={RootSections[currentLocale as Locale].PROJECTS} class="flex-col">
  <Title>
    <CodeIcon class="size-10 stroke-primary-foreground" />
    {i18n.PROJECTS.TITLE}
  </Title>
  <div class="grid grid-cols-1 md:grid-cols-[repeat(auto-fill,_minmax(360px,_1fr))] auto-rows-auto gap-10  ">
    {
      projects.map((project) => (
        <ProjectCard {...project} />
      ))
    }
  </div>
</Section>
