---
import { cn } from '@/lib/utils';

interface Props {
  info: string;
  class?: string;
}

const { info, class: className } = Astro.props;
---

<div
  class={cn(
    'p-5 md:p-6 max-h-20 md:max-h-26 rounded-full aspect-square relative hover:scale-105 active:scale-105 transition-transform group flex items-center justify-center',
    className,
  )}
>
  <div
    class="absolute bottom-[115%] right-0 left-0 text-center rounded-md bg-secondary/30 px-2 opacity-0 translate-y-2 group-hover:opacity-100 group-hover:translate-y-0 transition-all group-active:opacity-100 group-active:translate-y-0"
  >
    {info}
  </div>
  <slot />
</div>
