@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary: #0380d4;
  --primary-foreground: #e46707;
  --secondary: #205695;
  --secondary-foreground: #0d2b72;
  --tertiary: #0363d0;
  --accent: #0a6fe3;
  --muted: #7b7b7c;
  --button: #c9d2f7;
  --button-foreground: #02286e;
  --navbar: var(--button);
  --navbar-foreground: var(--button-foreground);
  /* --background: radial-gradient(circle at top, var(--primary) 0, var(--secondary) 20%); */
}

.dark {
  --primary: #020f58;
  --primary-foreground: #FFD62C;
  --secondary: #04428e;
  --secondary-foreground: #ffffff;
  --tertiary: #395DFF;
  --accent: #EA780E;
  --muted: #ffd69c;
  --button: #02183A;
  --button-foreground: #0088ff;
  --navbar: var(--button);
  --navbar-foreground: var(--button-foreground);
}

@theme {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-tertiary: var(--tertiary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-navbar: var(--navbar);
  --color-navbar-foreground: var(--navbar-foreground);
  --color-button: var(--button);
  --color-button-foreground: var(--button-foreground);
  --color-button-hover: var(--button-hover);
  --shadow-nav: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  --shadow-container: 0px 0px 6px 4px rgba(0, 0, 0, 0.3);
  --default-font-family: 'Figtree Variable', sans-serif;
  --font-primary: 'Fredoka Variable', sans-serif;
  --animate-in: in 0.2s ease-in-out;

  /* --background: radial-gradient(circle at top, var(--primary) 0, var(--secondary) 20%); */
  @keyframes in {
    from {
      opacity: 0;
      scale: 0.8;
    }

    to {
      opacity: 1;
      scale: 1
    }
  }
}
