---
import  "@styles/global.css";
import "@fontsource-variable/figtree";
const { title = "Gustadev - Desarrollador Web" } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class="m-0 w-full h-full bg-primary">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		font-family: 'Figtree Variable', sans-serif;
	}
</style>
