<div class="flex px-2 gap-12 items-center w-full">
  <div class="flex items-center grow">
    <div class="size-2 md:size-2.5 aspect-square bg-primary-foreground rounded-full" />
    <hr class="border-primary-foreground md:border-[1px] grow" />
  </div> 
  <h2 class="flex font-primary font-medium text-3xl text-primary-foreground gap-3 whitespace-nowrap">
    <slot />
  </h2>
  <div class="flex items-center grow">
    <hr class="border-primary-foreground md:border-[1px] grow" />
    <div class="size-2 md:size-2.5 aspect-square bg-primary-foreground rounded-full" />
  </div> 
</div>
