---
import Desktop from "@icons/Desktop.astro";
import Language from "@icons/Language.astro";
---

<div class="flex gap-2 px-4 py-2 bg-secondary rounded-md stroke-primary-foreground">
  <Desktop />
  <Language />
</div>
