---
import Code from "@icons/Code.astro";
import Graduate from "@icons/Graduate.astro";
import Person from "@icons/Person.astro";
import NavItem from "./NavItem.astro";


---
<nav class="flex gap-4 px-4 py-2 bg-secondary text-primary-foreground stroke-primary-foreground rounded-md">
  <NavItem>
    <Code />
    Proyectos
  </NavItem>
  <NavItem>
    <Graduate />
    Estudios
  </NavItem>
  <NavItem>
    <Person width={18} height={18} />
    Sobre mí
  </NavItem>
</nav>
