---
import Code from "@icons/Code.astro";
import Graduate from "@icons/Graduate.astro";
import Person from "@icons/Person.astro";


---
<nav class="flex gap-4 px-4 py-2 bg-secondary text-primary-foreground stroke-primary-foreground rounded-md">
  <a class="flex gap-2">
    <Code />
    Proyectos
  </a>
  <a class="flex gap-2">
    <Graduate />
    Estudios
  </a>
  <a class="flex gap-2">
    <Person />
    Sobre mí
  </a>
</nav>
