---
import Custom from "./Custom.astro";
import Nav from "./Nav.astro";

const navBarContainerId = "navbar-container";
---

<div
  id={navBarContainerId}
  class="flex flex-col md:flex-row fixed right-2 top-0 bottom-0 my-auto md:sticky md:top-4 md:right-0 md:left-0 md:mb-20 md:mx-auto size-max gap-x-4 gap-y-3 text-lg z-30"
>
  <Nav />
  <Custom />
</div>

<script is:inline>
  // Script de delaraciones
  const navBarContainerId = "navbar-container";

  let navBarContainer = document.getElementById(navBarContainerId);

  const changeNavbarSide = (side) => {
    if (side === "left") {
      navBarContainer.classList.remove("right-2");
      navBarContainer.classList.add("left-2");
    } else {
      navBarContainer.classList.remove("left-2");
      navBarContainer.classList.add("right-2");
    }
  };

  const initSide = () => {
    const sidePreference = localStorage.getItem("navbar-side") ?? "right";
    changeNavbarSide(sidePreference);
  };
</script>

<script is:inline data-astro-rerun>

  navBarContainer = document.getElementById(navBarContainerId);


  initSide();

  navBarContainer?.addEventListener("change-navbar-side", (e) => {
    e.stopPropagation();
    changeNavbarSide(e.detail);
  });
</script>
