---
import { cn } from '@lib/utils';
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'li'>;

const { class: className, ...rest } = Astro.props;
---

<li
  class={cn("flex gap-2 stroke-secondary-foreground dark:stroke-muted items-center hover:text-accent hover:stroke-accent hover:bg-radial hover:from-accent/15 hover:to-transparent hover:to-70% transition-colors hover:cursor-pointer group", className)}
  {...rest}
>
  <slot />
</li>
